<footer>
    <div class="ms-footer">
          <div class="copyright">Copyright © 2021. Design by H.Team</div>
          <ul class="socials">
            <li><a href="#" class="socicon-facebook"></a></li>
            <li><a href="#" class="socicon-twitter"></a></li>
            <li><a href="#" class="socicon-instagram"></a></li>
            <li><a href="#" class="socicon-youtube"></a></li>
          </ul>
    </div>
</footer>
